{% trans_default_domain 'TadckaTextBundle' %}

{% if pages is not empty %}
    {{ pages|raw }}
{% endif %}

<table class="table">
    <tr>
        <th>{{ 'unique_key'|trans }}</th>
        <th>{{ 'title'|trans }}</th>
    </tr>
    {% for text in texts %}
        <tr>
            {% include 'TadckaTextBundle:Default/List:item.html.twig' with {text: text} %}
        </tr>
    {% endfor %}
</table>

{% if pages is not empty %}
    {{ pages|raw }}
{% endif %}
